logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
app/*.js
app/web/pages/.umi
!.autod.conf.js

typings
app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
app/public/umi.*.css
app/public/ssr-client-mainifest.json
config/manifest.json
